.loader{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;

  img{
    display: inline-block;
    max-width: 100px;
  }
}