@media print{
  .header, .footer{
    display: none;
  }
  .flex-wrapper{
    display: block;
  }
  .main-content{
    display: block;
  }
  .noPrint{
    display: none !important;
  }
  .checklistItemPrint{
    max-width: 33% !important;
    flex-basis: 33% !important;
    width: 33% !important;
  }
}